<div>
    <div>
        <i class="fa fa-user-circle center"></i>
        {% if consult.anonimo %}
            <a>Anónimo</a>
        {% else %}
            <a href="#">{{ consult.creador.username }}</a>
        {% endif %}
    </div>
    <h2>{{consult.titulo}}</h2>
    <p>{{consult.mensaje|safe}}</p>
    <div>
        {% for answer in page_obj %}
        <div>
            <i class="fa fa-user-circle center"></i>
			{% if answer.anonimo %}
				<a>Anónimo</a>
			{% else %}
				<a href="{% url 'other_profile' answer.creador.id %}">{{ answer.creador.username }}</a>
			{% endif %}
            <p>{{ answer.mensaje|safe}}</p>
			<img src="{{ answer.multimedia }}" alt="foto de respuesta">
            <p>
                {% if consulta.votar >= 0 %}
                    <i class="fa fa-thumbs-up"></i>
                {% else %}
                    <i class="fa fa-thumbs-down"></i>
                {% endif %}
                <button class="like-button" data-id="{{ answer.id }}"><i class="fa fa-thumbs-up"></i> Me gusta</button>
                <button class="dislike-button" data-id="{{ answer.id }}"><i class="fa fa-thumbs-down"></i> No me gusta</button>
                {{ answer.votar }}
            </p>
            <small>Publicada el {{answer.fecha_creacion}}</small><br>
			{% if request.user.tipo == 'AD' %}
			<button class="delete-comment btn btn-danger shadow mb-2" data-id="{{ consulta.id }}"><i class="fa fa-trash"></i> Borrar</button>
			{% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.like-button').click(function() {
            var answerId = $(this).data('id');
            $.ajax({
                url: '/like1/' + answerId + '/',
                success: function() {
                    location.reload(); // Recargar la página
                }
            });
        });

        $('.dislike-button').click(function() {
            var answerId = $(this).data('id');
            $.ajax({
                url: '/dislike1/' + answerId + '/',
                success: function() {
                    location.reload(); // Recargar la página
                }
            });
        });

        $('.delete-reply').click(function() {
            var replyId = $(this).data('id');
            $.ajax({
                url: '/deleteReply/' + replyId + '/',
                success: function() {
                    location.reload(); // Recargar la página
                }
            });
        });
    });
</script>