<div>
    <div>
        <i class="fa fa-user-circle center"></i>
        {% if consult.anonimo %}
            <a>Anónimo</a>
        {% else %}
            <a href="#">{{ consult.creador.username }}</a>
        {% endif %}
    </div>
    <h2>{{consult.titulo}}</h2>
    <p>{{consult.mensaje|safe}}</p>
    <div>
        {% for answer in page_obj %}
        <div>
            <i class="fa fa-user-circle center"></i>
            <a href="#">{{ answer.creador.username }}</a>
            <p>{{ answer.mensaje|safe}}</p>
			{% if answer.multimedia %}
				<img src="{{ answer.multimedia }}" alt="foto de respuesta">
			{% endif %}
            <div>
                <button class="btn btn-sm btn-outline-danger shadow like-button" data-id="{{ answer.id }}"><i class="fa fa-arrow-up"></i></button>
                <span id="votar-{{ answer.id }}">{% if answer.votar > 0 %}+{% endif %}{{ answer.votar }}</span>
                <button class="btn btn-sm btn-outline-danger shadow dislike-button" data-id="{{ answer.id }}"><i class="fa fa-arrow-down"></i></button>
			</div>
			<br>
            <small>Publicada el {{answer.fecha_creacion}}</small><br>
			{% if request.user.tipo == 'AD' %}
				<button class="delete-reply" data-id="{{ answer.id }}"><i class="fa fa-trash"></i> Borrar</button><br>
			{% endif %}
            <small>Publicada el {{answer.fecha_creacion}}</small>
        </div>
        {% endfor %}
    </div>
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.like-button').click(function() {
            var answerId = $(this).data('id');
            $.ajax({
                url: '/like1/' + answerId + '/',
                success: function(data) {
                    let plus = (data.votar > 0) ? "+" : ""
                    $('#votar-' +answerId).text(plus + data.votar);
                    $('.like-button[data-id="' + answerId + '"]').toggleClass('selected');
                    $('.dislike-button[data-id="' + answerId + '"]').removeClass('selected'); // Elimina el estado de dislike
                }
            });
        });
        $('.dislike-button').click(function() {
            var answerId = $(this).data('id');
            $.ajax({
                url: '/dislike1/' + answerId + '/',
                success: function(data) {
                    let plus = (data.votar > 0) ? "+" : ""
                    $('#votar-' + answerId).text(data.votar);
                    $('.dislike-button[data-id="' + answerId + '"]').toggleClass('selected');
                    $('.like-button[data-id="' + answerId + '"]').removeClass('selected');
                }
            });
        });

        $('.delete-reply').click(function() {
            var replyId = $(this).data('id');
            $.ajax({
                url: '/deleteReply/' + replyId + '/',
                success: function() {
                    location.reload(); // Recargar la página
                }
            });
        });
    });
</script>