<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div>
            <h1>Stack Overbuxef</h1>
			{% if request.user.tipo == 'AD' %}
			<a href="{% url 'tags' %}">Crear tags</a>
			{% endif %}
        </div>
        <div>
            <form method="get" action="">
                <input type="text" name="q" placeholder="Busque una pregunta" value="{{ query|default_if_none:'' }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <a href="{% url 'message' %}"><button>Publicar</button></a>
        </div>
    </header>       
    <div>
        <hr>
        {% for consulta in page_obj %}
        <div>
            <div>
                <i class="fa fa-user-circle center"></i>
                {% if consulta.anonimo %}
                    <a>Anónimo</a>
                {% else %}
                    <a href="#">{{ consulta.creador.username }}</a>
                {% endif %}
            </div>
            <div>
                <h4><a>{{ consulta.titulo }}</a></h4>
                <p>{{ consulta.mensaje }}</p>
            </div>
            <div>
                <p>
                    {% if consulta.votar >= 0 %}
                        <i class="fa fa-thumbs-up"></i>
                    {% else %}
                        <i class="fa fa-thumbs-down"></i>
                    {% endif %}
                    {{ consulta.votar }}
                </p>
            </div>
            <div>
                <small>Publicada el {{ consulta.fecha_creacion }}</small>
            </div>
            <div>
                <button class="consult-link" data-id="{{ consulta.id }}" data-toggle="modal" data-target="#answerModal"><i class="fa fa-comments"></i> Respuestas</button>
                <button class="answer-consult" data-id="{{ consulta.id }}" data-toggle="modal" data-target="#makeAnswerModal"><i class="fa fa-reply"></i> Responder</button>
				{% if request.user.tipo == 'AD' %}
					<button class="delete-comment" data-id="{{ consulta.id }}"><i class="fa fa-trash"></i> Borrar</button>
				{% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{ query }}&page=1">&laquo; primera</a>
                    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">siguiente</a>
                    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <!--modal-->
    <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="answerModalLabel">Respuestas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para responder -->
    <div class="modal fade" id="makeAnswerModal" tabindex="-1" role="dialog" aria-labelledby="makeAnswerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="makeAnswerModalLabel">Escribe tu respuesta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body1">
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        // Modal para respuestas
        $('.consult-link').click(function(){
            var consultId = $(this).data('id');
            $.ajax({
                url: '/consults/' + consultId + '/',
                success: function(data) {
                    $('#modal-body').html(data);
                    $('#answerModal').modal('show'); // Mostrar el modal después de cargar los datos
                }
            });
        });

        // Modal para respondeR
        $('.answer-consult').click(function(){
            var consultId = $(this).data('id');
            $.ajax({
                url: '/makeAnswer/' + consultId + '/',
                success: function(data) {
                    $('#modal-body1').html(data);
                    $('#makeAnswerModal').modal('show'); // Mostrar el modal después de cargar los datos
                }
            });
        });

		$('.delete-comment').click(function() {
			var consultId = $(this).data('id');
			$.ajax({
				url: '/deleteComment/' + consultId + '/',
				success: function() {
					location.reload(); // Recargar la página
				}
			});
		});
    });
    </script>
</body>
</html>

