<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div>
            <h1>Stack Overbuxef</h1>
        </div>
        <div>
            <form method="get" action="">
                <input type="text" name="q" placeholder="Busque una pregunta" value="{{ query|default_if_none:'' }}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <a href="{% url 'message' %}"><button>Publicar</button></a>
        </div>
    </header>       
    <div>
        <hr>
        {% for consulta in page_obj %}
        <div>
            <div>
                <i class="fa fa-user-circle center"></i>
                {% if consulta.anonimo %}
                    <a>Anónimo</a>
                {% else %}
                    <a href="#">{{ consulta.creador.username }}</a>
                {% endif %}
            </div>
            <div>
                <h4><a>{{ consulta.titulo }}</a></h4>
                <p>{{ consulta.mensaje }}</p>
            </div>
            <div>
                <p>{{ consulta.votar }} <i class="fa fa-arrow-circle-up"></i></p>
            </div>
            <div>
                <small>Publicada el {{ consulta.fecha_creacion }}</small>
            </div>
            <div>
                <button><i class="fa fa-sort-desc"></i> Respuestas</button>
                <button><i class="fa fa-reply"></i> Responder</button>
            </div>
        </div>
        <hr>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{ query }}&page=1">&laquo; primera</a>
                    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">siguiente</a>
                    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>


