<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil</title>
</head>
<body>
	<div>
		<div>
			<img src="{{ request.user.foto }}" alt="profile picture">
			<p>- {{ request.user.username }}</p>
			<p>- {% for key, value in tipos.items %} {% if key == request.user.tipo %} {{value}} {% endif %} {% endfor %}</p>
			<p>- {{ request.user.email }}</p>
		</div>
		<div>
			<h2>Editar información personal:</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="nombre">Nombre:</label><br>
				<input type="text" name="nombre"><br><br>

				<label for="rol">Rol:</label><br>
				<select name="tipo" id="tipo">
					<option class="disabled" value="">Elige un tipo de usuario</option>
					<option value="ES">Estudiante</option>
					<option value="AU">Auxiliar</option>
					<option value="PR">Profesor</option>
				</select><br><br>

				<label for="correo">Correo:</label><br>
				<input type="text" name="correo"><br><br>

				<label for="foto">Foto de perfil:</label><br>
				<input type="file" name="foto" id="foto"><br><br>

				<input type="submit" name="update" id="update" value="Actualizar&#10;&#13;Información">
			</form>
			<p>{{ error }}</p>
		</div>
	</div>
</body>
</html>
